{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand text-uppercase">
            {% if (app.user != null) %}
                {{app.user.userName}}
            {% else %}Anonymous{% endif %}
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('homeroute') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('messages') }}">Messages</a>
                </li>
                {% if (is_granted('ROLE_ADMIN')) %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('users') }}">Users</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_quit') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}