{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Create user</h1>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.userName) }}
        {{ form_row(form.password) }}
        {{ form_row(form.rolesString) }}
        {{ form_row(form.save, { 'label': 'Create' }) }}
        {{ form_end(form) }}
    </div>

{% endblock %}